In [1]:
import numpy as np
import pandas as pd

pd.set_option('display.max_columns', None)

C:\Users\Isabel\AppData\Local\Temp\ipykernel_1032\4168460857.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df_1 = pd.read_csv('world-data-2023_part1.csv', index_col=0)
df_2 = pd.read_csv('world-data-2023_part2.csv', index_col=0)

In [3]:
df_1.head(10)

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97
5,Antigua and Barbuda,223,AG,20.50%,443,0,15.33,1.0,"St. John's, Saint John",557,113.81,1.20%,XCD,1.99,22.30%,$0.99
6,Argentina,17,AR,54.30%,"2,780,400","105,000",17.02,54.0,Buenos Aires,"201,348",232.75,53.50%,ARS,2.26,9.80%,$1.10
7,Armenia,104,AM,58.90%,"29,743","49,000",13.99,374.0,Yerevan,"5,156",129.18,1.40%,AMD,1.76,11.70%,$0.77
8,Australia,3,AU,48.20%,"7,741,220","58,000",12.60,61.0,Canberra,"375,908",119.8,1.60%,AUD,1.74,16.30%,$0.93
9,Austria,109,AT,32.40%,"83,871","21,000",9.70,43.0,Vienna,"61,448",118.06,1.50%,EUR,1.47,46.90%,$1.20

In [4]:
df_2.head(10)

,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,country,coordinates
0,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",Afghanistan,"('33.93911 ', '67.709953')"
1,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",Albania,"('41.153332 ', '20.168331')"
2,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",Algeria,"('28.033886 ', '1.659626')"
3,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",Andorra,"('42.506285 ', '1.521801')"
4,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",Angola,"('-11.202692 ', '17.873887')"
5,"$1,727,759,259",105.00%,24.80%,5.0,"St. John's, Saint John",76.9,42.0,$3.04,English,24.30%,2.76,"97,118",NaN,16.50%,43.00%,NaN,"23,800",Antigua and Barbuda,"('17.060816 ', '-61.796428')"
6,"$449,663,446,954",109.70%,90.00%,8.8,Buenos Aires,76.5,39.0,$3.35,Spanish,17.60%,3.96,"44,938,712",61.30%,10.10%,106.30%,9.79%,"41,339,571",Argentina,"('-38.416097 ', '-63.616672')"
7,"$13,672,802,158",92.70%,54.60%,11.0,Yerevan,74.9,26.0,$0.66,Armenian,81.60%,4.40,"2,957,731",55.60%,20.90%,22.60%,16.99%,"1,869,848",Armenia,"('40.069099 ', '45.038189')"
8,"$1,392,680,589,329",100.30%,113.10%,3.1,Sydney,82.7,6.0,$13.59,NaN,19.60%,3.68,"25,766,605",65.50%,23.00%,47.40%,5.27%,"21,844,756",Australia,"('-25.274398 ', '133.775136')"
9,"$446,314,739,528",103.10%,85.10%,2.9,Vienna,81.6,5.0,NaN,German,17.90%,5.17,"8,877,067",60.70%,25.40%,51.40%,4.67%,"5,194,416",Austria,"('47.516231 ', '14.550072')"

In [5]:
print(df_1.shape, '--', df_2.shape)

(195, 16) -- (195, 19)

In [6]:
df_total = df_1.merge(df_2, left_on='Country', right_on='country')

df_total.head()

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,country,coordinates
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",Afghanistan,"('33.93911 ', '67.709953')"
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",Albania,"('41.153332 ', '20.168331')"
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",Algeria,"('28.033886 ', '1.659626')"
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",Andorra,"('42.506285 ', '1.521801')"
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",Angola,"('-11.202692 ', '17.873887')"

In [7]:
df_total.drop(['country', 'Largest city'], axis=1, inplace=True)

In [8]:
df_total

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,coordinates
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273","('33.93911 ', '67.709953')"
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593","('41.153332 ', '20.168331')"
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28,"$169,988,236,398",109.90%,51.40%,20.1,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100","('28.033886 ', '1.659626')"
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51,"$3,154,057,987",106.40%,NaN,2.7,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873","('42.506285 ', '1.521801')"
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97,"$94,635,415,870",113.50%,9.30%,51.6,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025","('-11.202692 ', '17.873887')"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,"164,175","2,740.27",254.90%,VED,2.27,52.70%,$0.00,"$482,359,318,768",97.20%,79.30%,21.4,72.1,125.0,$0.01,Spanish,45.80%,1.92,"28,515,829",59.70%,NaN,73.30%,8.80%,"25,162,368","('6.42375 ', '-66.58973')"
191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,"192,668",163.52,2.80%,VND,2.05,48.10%,$0.80,"$261,921,244,843",110.60%,28.50%,16.5,75.3,43.0,$0.73,Vietnamese,43.50%,0.82,"96,462,106",77.40%,19.10%,37.60%,2.01%,"35,332,140","('14.058324 ', '108.277199')"
192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.10%,YER,3.79,1.00%,$0.92,"$26,914,402,224",93.60%,10.20%,42.9,66.1,164.0,NaN,Arabic,81.00%,0.31,"29,161,922",38.00%,NaN,26.60%,12.91%,"10,869,523","('15.552727 ', '48.516388')"
193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.20%,ZMW,4.63,65.20%,$1.40,"$23,064,722,446",98.70%,4.10%,40.4,63.5,213.0,$0.24,English,27.50%,1.19,"17,861,030",74.60%,16.20%,15.60%,11.43%,"7,871,713","('-13.133897 ', '27.849332')"
194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,"10,983",105.51,0.90%,NaN,3.62,35.50%,$1.34,"$21,440,758,800",109.90%,10.00%,33.9,61.2,458.0,NaN,Shona,25.80%,0.21,"14,645,468",83.10%,20.70%,31.60%,4.95%,"4,717,305","('-19.015438 ', '29.154857')"

In [9]:
df_total.shape

(195, 33)

**Método de unión**: merge, usando como nexo las columnas df_1['Country'] y df_2['country'].

Como ambas son la misma, hemos eliminado 'country' para evitar la redundancia, al igual que 'Largest city', que coincidía con 'Capital/Major City'

# Ejercicios de limpieza

Los nombres de las columnas no son homogeneos. Cambia los nombres de las columnas de tal forma que:

No tengan espacios.

Estén en minúscula.

No tengan paréntesis, es decir, quitar "(%)", "(Km2)".

Algunas columnas tiene "\n". Eliminalos de los nombres de las columnas.

Algunas columnas tienen ":". Eliminalos de los nombres de las columnas.

Unidas por _ (sin espacios)

In [10]:
import re

In [11]:
# TERMINAR 

columnas = df_total.columns

columnas_nuevas = []

for columna in columnas:
    if '\n' in columna:
        columnas_nuevas.append(columna.replace('\n', '').lower().strip())
    
    elif ':' in columna:
        columnas_nuevas.append(columna.replace(':', '').lower().strip())

    elif '(%)' or '(Km2)' in columna:
        columnas_nuevas.append(columna.replace(r'\(%\)|\(Km2\)', '').lower().strip())
    
    else:
        columnas_nuevas.append(columna.lower().strip())


columnas_nuevas

['country',
 'density(p/km2)',
 'abbreviation',
 'agricultural land( %)',
 'land area(km2)',
 'armed forces size',
 'birth rate',
 'calling code',
 'capital/major city',
 'co2-emissions',
 'cpi',
 'cpi change (%)',
 'currency-code',
 'fertility rate',
 'forested area (%)',
 'gasoline price',
 'gdp',
 'gross primary education enrollment (%)',
 'gross tertiary education enrollment (%)',
 'infant mortality',
 'life expectancy',
 'maternal mortality ratio',
 'minimum wage',
 'official language',
 'out of pocket health expenditure',
 'physicians per thousand',
 'population',
 'population labor force participation (%)',
 'tax revenue (%)',
 'total tax rate',
 'unemployment rate',
 'urban_population',
 'coordinates']

In [12]:
columnas = df_total.columns
patron = re.compile(r"\((.*?)\)")

columnas_nuevas = []

for columna in columnas:
    if '\n' in columna:
        columnas_nuevas.append(columna.replace('\n', '').lower().strip())
    
    elif ':' in columna:
        columnas_nuevas.append(columna.replace(':', '').lower().strip())

    elif re.search(patron, columna):
        re.sub(patron, '', columna.lower().strip())
    else:
        columnas_nuevas.append(columna.lower().strip())


len(columnas_nuevas)

26

La columnas coordinates tiene la latitud y la longitud en una sola columna. Crea dos columnas nuevas, una con la longitud y otra con la latitud. Una vez hecho, elimina la columna de coordinates.

In [13]:
df_total['coordinates']

0        ('33.93911 ', '67.709953')
1       ('41.153332 ', '20.168331')
2        ('28.033886 ', '1.659626')
3        ('42.506285 ', '1.521801')
4      ('-11.202692 ', '17.873887')
                   ...
190       ('6.42375 ', '-66.58973')
191    ('14.058324 ', '108.277199')
192     ('15.552727 ', '48.516388')
193    ('-13.133897 ', '27.849332')
194    ('-19.015438 ', '29.154857')
Name: coordinates, Length: 195, dtype: object

drop coordinates
quitar comilla y paréntesis

In [14]:
df_total[["latitud", "longitud"]] = df_total["coordinates"].str.replace("(","").str.replace(")","").str.replace("'","").str.split(", ", expand=True)

In [15]:
df_total.drop('coordinates', axis=1)

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,latitud,longitud
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",33.93911,67.709953
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",41.153332,20.168331
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28,"$169,988,236,398",109.90%,51.40%,20.1,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",28.033886,1.659626
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51,"$3,154,057,987",106.40%,NaN,2.7,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",42.506285,1.521801
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97,"$94,635,415,870",113.50%,9.30%,51.6,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",-11.202692,17.873887
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,"164,175","2,740.27",254.90%,VED,2.27,52.70%,$0.00,"$482,359,318,768",97.20%,79.30%,21.4,72.1,125.0,$0.01,Spanish,45.80%,1.92,"28,515,829",59.70%,NaN,73.30%,8.80%,"25,162,368",6.42375,-66.58973
191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,"192,668",163.52,2.80%,VND,2.05,48.10%,$0.80,"$261,921,244,843",110.60%,28.50%,16.5,75.3,43.0,$0.73,Vietnamese,43.50%,0.82,"96,462,106",77.40%,19.10%,37.60%,2.01%,"35,332,140",14.058324,108.277199
192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.10%,YER,3.79,1.00%,$0.92,"$26,914,402,224",93.60%,10.20%,42.9,66.1,164.0,NaN,Arabic,81.00%,0.31,"29,161,922",38.00%,NaN,26.60%,12.91%,"10,869,523",15.552727,48.516388
193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.20%,ZMW,4.63,65.20%,$1.40,"$23,064,722,446",98.70%,4.10%,40.4,63.5,213.0,$0.24,English,27.50%,1.19,"17,861,030",74.60%,16.20%,15.60%,11.43%,"7,871,713",-13.133897,27.849332
194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,"10,983",105.51,0.90%,NaN,3.62,35.50%,$1.34,"$21,440,758,800",109.90%,10.00%,33.9,61.2,458.0,NaN,Shona,25.80%,0.21,"14,645,468",83.10%,20.70%,31.60%,4.95%,"4,717,305",-19.015438,29.154857

Las columnas unemployment_rate, total_tax_rate, tax_revenue, population_labor_force_participation, out_of_pocket_health_expenditure, gross_tertiary_education_enrollment, gross_primary_education_enrollment, forested_area, cpi_change, agricultural_land tienen "%". Elimina los "%" de los valores de las columnas.

In [16]:
# REHACER CUANDO TENGAMOS COLUMNAS

columnas_con_porcentaje = ['Unemployment rate', 'total_tax_rate', 'tax_revenue', 'population_labor_force_participation',
                           'out_of_pocket_health_expenditure', 'gross_tertiary_education_enrollment',
                           'gross_primary_education_enrollment', 'forested_area', 'cpi_change', 'agricultural_land']

for nombre in columnas_con_porcentaje:
    df_total[nombre] = df_total[nombre].str.replace('%', '')

df_total

KeyError: 'total_tax_rate'

Haz lo mismo para las columnas de gasoline_price, gdp, minimum_wage, pero eliminando "$".

In [17]:
columnas_dolar = ['Gasoline Price', 'GDP', 'Minimum wage']

for nombre in columnas_dolar:
    df_total[nombre] = df_total[nombre].str.replace('$', '')

df_total.head()

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,coordinates,latitud,longitud
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,0.70,"19,101,353,833",104.00%,9.70%,47.9,64.5,638.0,0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12,"9,797,273","('33.93911 ', '67.709953')",33.93911,67.709953
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,1.36,"15,278,077,447",107.00%,55.00%,7.8,78.5,15.0,1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33,"1,747,593","('41.153332 ', '20.168331')",41.153332,20.168331
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,0.28,"169,988,236,398",109.90%,51.40%,20.1,76.7,112.0,0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70,"31,510,100","('28.033886 ', '1.659626')",28.033886,1.659626
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,1.51,"3,154,057,987",106.40%,NaN,2.7,NaN,NaN,6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873","('42.506285 ', '1.521801')",42.506285,1.521801
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,0.97,"94,635,415,870",113.50%,9.30%,51.6,60.8,241.0,0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89,"21,061,025","('-11.202692 ', '17.873887')",-11.202692,17.873887

In [18]:
df_total.to_csv('df_pairprogramming.csv')

# Filtrado

Encuentra todos los países cuya mortalidad infantil esté entre 40 y 50 personas por kilómetro cuadrado.

In [ ]:
df_total[df_total['Infant mortality'].between(40, 50, inclusive='both')]

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,coordinates,latitud,longitud
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,0.70,"19,101,353,833",104.00%,9.70%,47.9,64.5,638.0,0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273","('33.93911 ', '67.709953')",33.93911,67.709953
26,Burkina Faso,76,BF,44.20%,"274,200","11,000",37.93,226.0,Ouagadougou,"3,418",106.58,-3.20%,XOF,5.19,19.30%,0.98,"15,745,810,235",96.10%,6.50%,49.0,61.2,320.0,0.34,French,36.10%,0.08,"20,321,378",66.40%,15.00%,41.30%,6.26%,"6,092,349","('12.238333 ', '-1.561593')",12.238333,-1.561593
27,Burundi,463,BI,79.20%,"27,830","31,000",39.01,257.0,Bujumbura,495,182.11,-0.70%,BIF,5.41,10.90%,1.21,"3,012,334,882",121.40%,6.10%,41.0,61.2,548.0,NaN,Kirundi,19.10%,0.10,"11,530,580",79.20%,13.60%,41.20%,1.43%,"1,541,177","('-3.373056 ', '29.918886')",-3.373056,29.918886
47,Djibouti,43,DJ,73.40%,"23,200","13,000",21.47,253.0,Djibouti City,620,120.25,3.30%,DJF,2.73,0.20%,1.32,"3,318,716,359",75.30%,5.30%,49.8,66.6,248.0,NaN,French,20.40%,0.22,"973,560",60.20%,NaN,37.90%,10.30%,"758,549","('11.825138 ', '42.590275')",11.825138,42.590275
72,Haiti,414,HT,66.80%,"27,750",0,24.35,509.0,Port-au-Prince,"2,978",179.29,12.50%,HTG,2.94,3.50%,0.81,"8,498,981,821",113.60%,1.10%,49.5,63.7,480.0,0.25,French,36.30%,0.23,"11,263,077",67.20%,NaN,42.70%,13.78%,"6,328,948","('18.971187 ', '-72.285215')",18.971187,-72.285215
89,Kiribati,147,KI,42.00%,811,NaN,27.89,686.0,South Tarawa,66,99.55,0.60%,AUD,3.57,15.00%,NaN,"194,647,202",101.30%,NaN,41.2,68.1,92.0,NaN,English,0.20%,0.20,"117,606",NaN,22.00%,32.70%,NaN,"64,489","('1.8368976 ', '-157.3768317')",1.8368976,-157.3768317
125,Niger,19,NE,36.10%,"1,267,000","10,000",46.08,227.0,Niamey,"2,017",109.32,-2.50%,XOF,6.91,0.90%,0.88,"12,928,145,120",74.70%,4.40%,48.0,62.0,509.0,0.29,French,52.30%,0.04,"23,310,715",72.00%,11.80%,47.20%,0.47%,"3,850,231","('17.607789 ', '8.081666')",17.607789,8.081666
166,Sudan,25,SD,28.70%,"1,861,484","124,000",32.18,249.0,Khartoum,"20,000","1,344.19",51.00%,SDG,4.41,8.10%,0.95,"18,902,284,476",76.80%,16.90%,42.1,65.1,295.0,0.41,Arabic,63.20%,0.26,"42,813,238",48.40%,8.00%,45.40%,16.53%,"14,957,233","('12.862807 ', '30.217636')",12.862807,30.217636
175,Togo,152,TG,70.20%,"56,785","10,000",33.11,228.0,Lom�,"3,000",113.3,0.70%,XOF,4.32,3.10%,0.71,"5,459,979,417",123.80%,14.50%,47.4,60.8,396.0,0.34,French,51.00%,0.08,"8,082,366",77.60%,16.90%,48.20%,2.04%,"3,414,638","('8.619543 ', '0.824782')",8.619543,0.824782
192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.10%,YER,3.79,1.00%,0.92,"26,914,402,224",93.60%,10.20%,42.9,66.1,164.0,NaN,Arabic,81.00%,0.31,"29,161,922",38.00%,NaN,26.60%,12.91%,"10,869,523","('15.552727 ', '48.516388')",15.552727,48.516388
193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.20%,ZMW,4.63,65.20%,1.40,"23,064,722,446",98.70%,4.10%,40.4,63.5,213.0,0.24,English,27.50%,1.19,"17,861,030",74.60%,16.20%,15.60%,11.43%,"7,871,713","('-13.133897 ', '27.849332')",-13.133897,27.849332

Encuentra los países cuyas tasas de natalidad son mayores o iguales a 20 y su esperanza de vida es mayor de 75 años.

In [ ]:
df_total[(df_total['Birth Rate'] >= 20) & (df_total['Life expectancy'] >75)]

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,coordinates,latitud,longitud
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,0.28,"169,988,236,398",109.90%,51.40%,20.1,76.7,112.0,0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100","('28.033886 ', '1.659626')",28.033886,1.659626
74,Honduras,89,HN,28.90%,"112,090","23,000",21.60,504.0,Tegucigalpa,"9,813",150.34,4.40%,HNL,2.46,40.00%,0.98,"25,095,395,475",91.50%,26.20%,15.1,75.1,65.0,1.01,Spanish,49.10%,0.31,"9,746,117",68.80%,17.30%,39.10%,5.39%,"5,626,433","('15.199999 ', '-86.241905')",15.199999,-86.241905
82,Israel,400,IL,24.60%,"20,770","178,000",20.80,972.0,Jerusalem,"65,166",108.15,0.80%,ILS,3.09,7.70%,1.57,"395,098,666,122",104.90%,63.40%,3.0,82.8,3.0,7.58,Hebrew,24.40%,4.62,"9,053,300",64.00%,23.10%,25.30%,3.86%,"8,374,393","('31.046051 ', '34.851612')",31.046051,34.851612

Encuentra las ciudades cuyos paises contienen la palabra "la" en su nombre.

In [ ]:
patron = r'\b\w*la\w*\b'
df_total[df_total['Country'].str.contains(patron, na=False)]

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,coordinates,latitud,longitud
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,1.51,"3,154,057,987",106.40%,NaN,2.7,NaN,NaN,6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873","('42.506285 ', '1.521801')",42.506285,1.521801
53,Equatorial Guinea,50,GQ,10.10%,"28,051","1,000",33.24,240.0,Malabo,"5,655",124.35,1.20%,XAF,4.51,55.50%,NaN,"11,026,774,945",61.80%,1.90%,62.6,58.4,301.0,1.05,Spanish,72.00%,0.40,"1,355,986",62.00%,6.10%,79.40%,6.43%,"984,812","('1.650801 ', '10.267895')",1.650801,10.267895
68,Guatemala,167,GT,36.00%,"108,889","43,000",24.56,502.0,Guatemala City,"16,777",142.92,3.70%,GTQ,2.87,32.70%,0.79,"76,710,385,880",101.90%,21.80%,22.1,74.1,95.0,1.60,Spanish,55.80%,0.35,"16,604,026",62.30%,10.60%,35.20%,2.46%,"8,540,945","('15.783471 ', '-90.230759')",15.783471,-90.230759
103,Malaysia,99,MY,26.30%,"329,847","136,000",16.75,60.0,Kuala Lumpur,"248,289",121.46,0.70%,MYR,2.00,67.60%,0.45,"364,701,517,788",105.30%,45.10%,6.7,76.0,29.0,0.93,Malaysian language,36.70%,1.51,"32,447,385",64.30%,12.00%,38.70%,3.32%,"24,475,766","('4.210484 ', '101.975766')",4.210484,101.975766
114,Mongolia,2,MN,71.50%,"1,564,116","18,000",24.13,976.0,Ulaanbaatar,"25,368",195.76,7.30%,MNT,2.90,8.00%,0.72,"13,852,850,259",104.00%,65.60%,14.0,69.7,45.0,0.65,Mongolian,39.30%,2.86,"3,225,167",59.70%,16.80%,25.70%,6.01%,"2,210,626","('46.862496 ', '103.846656')",46.862496,103.846656
131,Pakistan,287,PK,47.80%,"796,095","936,000",28.25,92.0,Islamabad,"201,150",182.32,10.60%,PKR,3.51,1.90%,0.79,"304,400,000,000",94.30%,9.00%,57.2,67.1,140.0,0.69,Urdu,66.50%,0.98,"216,565,318",52.60%,9.20%,33.90%,4.45%,"79,927,762","('30.375321 ', '69.345116')",30.375321,69.345116
138,Philippines,368,PH,41.70%,"300,000","153,000",20.55,63.0,Manila,"122,287",129.61,2.50%,PHP,2.58,27.80%,0.86,"376,795,508,680",107.50%,35.50%,22.5,71.1,121.0,1.12,English,53.50%,0.60,"108,116,615",59.60%,14.00%,43.10%,2.15%,"50,975,903","('12.879721 ', '121.774017')",12.879721,121.774017
157,Slovakia,114,SK,39.20%,"49,035","16,000",10.60,421.0,Bratislava,"32,424",115.34,2.70%,EUR,1.52,40.40%,1.32,"105,422,304,976",98.70%,46.60%,4.6,77.2,5.0,3.11,Slovak,18.40%,3.42,"5,454,073",59.50%,18.70%,49.70%,5.56%,"2,930,419","('48.669026 ', '19.699024')",48.669026,19.699024
182,Uganda,229,UG,71.90%,"241,038","46,000",38.14,256.0,Kampala,"5,680",173.87,2.90%,UGX,4.96,9.70%,0.94,"34,387,229,486",102.70%,4.80%,33.8,63.0,375.0,0.01,Swahili,40.50%,0.17,"44,269,594",70.30%,11.70%,33.70%,1.84%,"10,784,516","('1.373333 ', '32.290275')",1.373333,32.290275
189,Vanuatu,25,VU,15.30%,"12,189",NaN,29.60,678.0,Port Vila,147,117.13,2.80%,VUV,3.78,36.10%,1.31,"917,058,851",109.30%,4.70%,22.3,70.3,72.0,1.56,French,8.90%,0.17,"299,882",69.90%,17.80%,8.50%,4.39%,"76,152","('-15.376706 ', '166.959158')",-15.376706,166.959158

Encuentra los países cuyos medicos por cada 1000 habitantes (physicians_per_thousand) sea mayores de 5.

In [ ]:
df_total[df_total['Physicians per thousand'] > 5]

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,coordinates,latitud,longitud
9,Austria,109,AT,32.40%,"83,871","21,000",9.70,43.0,Vienna,"61,448",118.06,1.50%,EUR,1.47,46.90%,1.20,"446,314,739,528",103.10%,85.10%,2.9,81.6,5.0,NaN,German,17.90%,5.17,"8,877,067",60.70%,25.40%,51.40%,4.67%,"5,194,416","('47.516231 ', '14.550072')",47.516231,14.550072
15,Belarus,47,BY,42.00%,"207,600","155,000",9.90,375.0,Minsk,"58,280",NaN,5.60%,BYN,1.45,42.60%,0.60,"63,080,457,023",100.50%,87.40%,2.6,74.2,2.0,1.49,Russian,34.50%,5.19,"9,466,856",64.10%,14.70%,53.30%,4.59%,"7,482,982","('53.709807 ', '27.953389')",53.709807,27.953389
42,Cuba,106,CU,59.90%,"110,860","76,000",10.17,53.0,Havana,"28,284",NaN,NaN,CUP,1.62,31.30%,1.40,"100,023,000,000",101.90%,41.40%,3.7,78.7,36.0,0.05,Spanish,NaN,8.42,"11,333,483",53.60%,NaN,NaN,1.64%,"8,739,135","('21.521757 ', '-77.781167')",21.521757,-77.781167
63,Georgia,57,GE,34.50%,"69,700","26,000",13.47,995.0,Tbilisi,"10,128",133.61,4.90%,GEL,2.06,40.60%,0.76,"17,743,195,770",98.60%,63.90%,8.7,73.6,25.0,0.05,Georgian,57.30%,7.12,"3,720,382",68.30%,21.70%,9.90%,14.40%,"2,196,476","('42.315407 ', '43.356892')",42.315407,43.356892
66,Greece,81,GR,47.60%,"131,957","146,000",8.10,30.0,Athens,"62,434",101.87,0.20%,EUR,1.35,31.70%,1.54,"209,852,761,469",99.60%,136.60%,3.6,81.3,3.0,4.46,Greek,35.50%,5.48,"10,716,322",51.80%,26.20%,51.90%,17.24%,"8,507,474","('39.074208 ', '21.824312')",39.074208,21.824312
99,Lithuania,43,LT,47.20%,"65,300","34,000",10.00,370.0,Vilnius,"12,963",118.38,2.30%,EUR,1.63,34.80%,1.16,"54,219,315,600",103.90%,72.40%,3.3,75.7,8.0,2.41,Lithuanian,32.10%,6.35,"2,786,844",61.60%,16.90%,42.60%,6.35%,"1,891,013","('55.169438 ', '23.881275')",55.169438,23.881275
113,Monaco,"26,337",MC,NaN,2,NaN,5.90,377.0,Monaco City,NaN,NaN,NaN,EUR,NaN,NaN,2.00,"7,184,844,193",NaN,NaN,2.6,NaN,NaN,11.72,French,6.10%,6.56,"38,964",NaN,NaN,NaN,NaN,"38,964","('43.7384176 ', '7.4246158')",43.7384176,7.4246158
140,Portugal,111,PT,39.50%,"92,212","52,000",8.50,351.0,Lisbon,"48,742",110.62,0.30%,EUR,1.38,34.60%,1.54,"237,686,075,635",106.20%,63.90%,3.1,81.3,8.0,3.78,Portuguese,27.70%,5.12,"10,269,417",58.80%,22.80%,39.80%,6.33%,"6,753,579","('39.399872 ', '-8.224454')",39.399872,-8.224454
149,San Marino,566,SM,16.70%,61,NaN,6.80,378.0,City of San Marino,NaN,110.63,1.00%,EUR,1.26,0.00%,NaN,"1,637,931,034",108.10%,42.50%,1.7,85.4,NaN,NaN,Italian,18.30%,6.11,"33,860",NaN,18.10%,36.20%,NaN,"32,969","('43.94236 ', '12.457777')",43.94236,12.457777
187,Uruguay,20,UY,82.60%,"176,215","22,000",13.86,598.0,Montevideo,"6,766",202.92,7.90%,UYU,1.97,10.70%,1.50,"56,045,912,952",108.50%,63.10%,6.4,77.8,17.0,1.66,Spanish,16.20%,5.05,"3,461,734",64.00%,20.10%,41.80%,8.73%,"3,303,394","('-32.522779 ', '-55.765835')",-32.522779,-55.765835

Encuentra los países cuya tasa de fertilidad sea mayor a 6.

In [ ]:
df_total[df_total['Fertility Rate'] > 6]

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,coordinates,latitud,longitud
125,Niger,19,NE,36.10%,"1,267,000","10,000",46.08,227.0,Niamey,"2,017",109.32,-2.50%,XOF,6.91,0.90%,0.88,"12,928,145,120",74.70%,4.40%,48.0,62.0,509.0,0.29,French,52.30%,0.04,"23,310,715",72.00%,11.80%,47.20%,0.47%,"3,850,231","('17.607789 ', '8.081666')",17.607789,8.081666
160,Somalia,25,SO,70.30%,"637,657","20,000",41.75,252.0,Mogadishu,645,NaN,NaN,SOS,6.07,10.00%,1.41,"4,720,727,278",23.40%,2.50%,76.6,57.1,829.0,NaN,Arabic,NaN,0.02,"15,442,905",47.40%,0.00%,NaN,11.35%,"7,034,861","('5.152149 ', '46.199616')",5.152149,46.199616

Encuentra los países cuya moneda es el euro (EUR) y tienen una tasa de natalidad superior al promedio.

In [ ]:
df_total[(df_total['Currency-Code'] == 'EUR') & (df_total['Birth Rate'] > mean())]

In [ ]:
df_total['Currency-Code'].value_counts()

Currency-Code
EUR    23
XOF     8
XCD     6
USD     6
XAF     5
       ..
GMD     1
FJD     1
ETB     1
ERN     1
ZMW     1
Name: count, Length: 133, dtype: int64